body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    margin-top: -8px;
    background-size: 100vw 100vh;
    display: flex;
}
img{
    height: 580px;
    width: 600px;
    margin-left: 20px;
    margin-top: 70px;
    margin-right: 100px;
}
#content{
    margin-right: 40px;
    z-index: 1;
}
#dash{
    width: 600px;
    height: 10px;
    background-color: white;
    margin-bottom: 50px;
    animation-name: animatewidth;
    animation-duration: 6s;
}
p{
    color: white;
    font-size: 25px;
}
h1{
    color: white;
    font-size: 100px;
    margin-bottom: 0px;
}
@keyframes animatewidth {
    from{
        width: 50px;
    }
    to{
        width: 600px;
    }
}
i{
    position: absolute;
    z-index: 1;
    size: 20px;
}
i:hover{
    transform: scale(2);
    color: black;
    cursor: pointer;
}
#humayun-tomb ,#qutubC, #redfortC, #jamaC, #oldC, #jantarC, #zooC, #akshardhamC {
    display: none;
    margin-right: 40px;
}